<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
      <h1 class="ion-text-center ion-margin-vertical ion-padding-vertical"><b>SELECT ROLE</b></h1>
      <form class="ion-padding">
        <div class="ion-margin-vertical">
          <ion-select label="Roles" class="ion-margin-vertical" [(ngModel)]="role" name="role">
            <ion-select-option value="user">User</ion-select-option>
            <ion-select-option value="admin">Administrator</ion-select-option>
            <ion-select-option value="designer">Designer</ion-select-option>
            <ion-select-option value="support">Support</ion-select-option>
          </ion-select>
        </div>
        <div class="ion-margin-vertical">
          <ion-button mode="ios" expand="block" [disabled]="showSpinner" class="ion-margin-top" color="primary" (click)="signUp()">Sign Up <ion-icon name="arrow-forward" slot="end" *ngIf="!showSpinner"></ion-icon> <ion-spinner *ngIf="showSpinner" name="lines"></ion-spinner></ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-content>